<a href="https://colab.research.google.com/github/prabuprabas/KKA-Z-Semester-1-Prabas/blob/main/1_fungsi_print(prabas)x_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#menampilkan teks bebas

In [ ]:

nama = "prabaswara putra m"

kelas = "x1"

no_abs = 27
nama_idola = "mesi"
print(nama) ku
print(kelas)
print(no_abs)
print(nama_idola)

prabaswara putra m
x1
27
mesi

#Menampilkan nilai variable dan string

In [ ]:
nama_idola = "dias"

In [ ]:
usia = 16

In [ ]:
print("Nama idola saya adalah",nama_idola,". Usianya adalah",usia,"tahun")

Nama idola saya adalah dias . Usianya adalah 16 tahun

In [ ]:
print("Nama idola saya adalah "+nama_idola+". Usianya adalah"+str(usia)+"tahun")

Nama idola saya adalah dias. Usianya adalah16tahun

In [ ]:
print(f"Nama idola saya adalah {nama_idola}. Usianya adalah {usia} tahun")

Nama idola saya adalah dias. Usianya adalah 16 tahun

#Escape String

In [ ]:
print("Nama : Prabas ")
print("Kelas : X.1")
print("No. Absen: 26")

Nama : Prabas
Kelas : X.1
No. Absen: 26

In [ ]:
print("Nama: Prabas\nKelas : X.1\nNo. Absen : 26")

Nama: Prabas
Kelas : X.1
No. Absen : 26

In [ ]:
print("""Nama\t\t: Prabas"
Kelas\t\t: X.1
No. Absen\t: 26""")

Nama		: Prabas"
Kelas		: X.1
No. Absen	: 26